@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.register__page {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: hidden;
  align-items: center;
}

.register__page__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem;
  width: 100%;
  height: 100%;
  
}

.register__page__form {
  max-width: 700px;
  height: auto;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.register__page__form .register__page__title p {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.register__page__form .register__page__title p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: linear-gradient(to right,#59ABFF ,#254D73 );
}

.register__page__user__details {
  display: grid;
  gap: 2rem;
}

.register__page__user__details .register__page__input__box {
  margin: 0 0 12px 0;
}

.register__page__input__box label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.register__page__input__box label::after {
  content: " *";
  color: red;
}

.register__page__input__box input,
.register__page__input__box textarea {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  background-color: #f6f8fa;
  font-family: "Poppins", sans-serif;
  transition: all 120ms ease-out 0s;
}

.register__page__term {
  display: flex;
  gap: 0.5rem;
  font-size: 12px;
  align-items: start;
}

.register__page__input__box {
  display: grid;
  gap:0.5rem;
}

.register__page__input__box input:focus,
.register__page__input__box input:valid,
.register__page__input__box textarea:focus,
.register__page__input__box textarea:valid {
  border: 1px solid #59ABFF;
}

.register__page__reg__btn {
  padding-bottom: 25px;
}

.register__page__reg__btn input {
  height: 45px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(to right, #59ABFF ,#254D73);
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.register__page__reg__btn input:hover {
  background: linear-gradient(to right, #254D73 ,#59ABFF);
}

#inquiry__contents {
  width: 100%;
  height: 5rem;
}

@media screen and (max-width: 1536px) {
  .register__page {
    height: auto;
    grid-template-rows: 5rem 1fr;
  }

  .register__page__user__details {
    gap: 0;
    padding: 25px 0;
  }

  .register__page__form .register__page__title {
    padding-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .register__page__inner {
    padding: 2rem 1rem;
  }
}
